<div class=" text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group">
                <div *ngIf="login && login.invalid && (login.dirty || login.touched)" class="aler alert-danger">
                    <div *ngIf="login.errors?.required">
                        Nom d'utilistateur obligatoire.
                    </div>
                    <div *ngIf="login.errors?.pattern">
                        Le nom d'utilisateur ne peut contenir que des lettres, des tirets et des points.
                    </div>                                     
                </div>
                <label for="login">Nom d'utilisateur</label>
                <input type="text" id="login" class="form-control" formControlName="login">            
            </div>
            <div class="form-group">
                <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="aler alert-danger">
                    <div *ngIf="password.errors?.required">
                       Mot de passe non valide
                    </div>                              
                </div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="form-control" formControlName="password">            
            </div>
        </div>        
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Créer son compte</button>
    </form>
</div>